<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>.</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminUI/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminUI/dist/css/adminlte.min.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="/AdminUI/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/AdminUI/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/AdminUI/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <link href="/adminui/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link rel="stylesheet" href="/adminui/plugins/ekko-lightbox/ekko-lightbox.css">

    <!-- jQuery -->
    <script src="/AdminUI/plugins/jquery/jquery.min.js"></script>
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Anasayfa" class="nav-link">Anasayfa</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Categories" class="nav-link">Kategoriler</a>
                </li> 
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Brands" class="nav-link">Markalar</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Companies" class="nav-link">Şirketler</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Departments" class="nav-link">Departmanlar</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Employees" class="nav-link">Çalışanlar</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/Anasayfa" class="brand-link">
                <img src="/AdminUI/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Anasayfa</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/AdminUI/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block"></a>
                    </div>
                </div>



                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="/Anasayfa" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Anasayfa

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Categories" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Kategoriler

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Brands" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Markalar

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Companies" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Şirketler

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Departments" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Departmanlar

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Employees" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Çalışanlar

                                </p>
                            </a>
                        </li>


@*                         <li class="nav-item">
                            <a href="/Admin/Kullanicilar" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Kullanıcılar

                                </p>
                            </a>
                        </li> *@

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            
                        </div>
                        @* <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Blank Page</li>
                        </ol>
                        </div>*@
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <!--RAZOR-->
                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                
            </div>
       
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- Bootstrap 4 -->
    <script src="/AdminUI/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdminUI/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/AdminUI/dist/js/demo.js"></script>


    <!-- DataTables  & Plugins -->
    <script src="/AdminUI/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/AdminUI/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/AdminUI/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/AdminUI/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/AdminUI/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/AdminUI/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/AdminUI/plugins/jszip/jszip.min.js"></script>
    <script src="/AdminUI/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/AdminUI/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/AdminUI/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/AdminUI/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/AdminUI/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>


    <script src="/AdminUI/plugins/sweetalert2/sweetalert2.js"></script>
    <script src="/AdminUI/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="/AdminUI/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>

</body>
</html>
<script>
    $(function () {
        bsCustomFileInput.init();
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true
            });
        });
    });
</script>