@using AHLVBShopUI.Core.DTO.Request
@model RequestDTO
@{
	ViewData["Title"] = "UpdateRequest";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	var AdSoyad = TempData["AdSoyad"] as string;
	var Id = TempData["Id"] as string;
}

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<form action="/Request/UpdateRequest" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger" />

			<div class="form-group">
				<label hidden="hidden" asp-for="Id">İstek</label>
				<input hidden="hidden" asp-for="Id" class="form-control" />

				<label asp-for="RequestTitle">İstek Başlığı</label>
				<input asp-for="RequestTitle" class="form-control" />
				<span asp-validation-for="RequestTitle" class="text-danger"></span>

				<label asp-for="Description">Açıklama</label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>


				<label hidden="hidden" asp-for="EmployeeId"></label>
				<input hidden="hidden" asp-for="EmployeeId" value="@Id" class="form-control" />

				<label hidden="hidden" asp-for="EmployeeName"></label>
				<input hidden="hidden" asp-for="EmployeeName" value="@AdSoyad" class="form-control" />

				<label hidden="hidden" asp-for="ProductName"></label>
				<input hidden="hidden" asp-for="ProductName" value="@Model.ProductName" class="form-control" />


				<label hidden="hidden" asp-for="ProductId"></label>
				<input hidden="hidden" asp-for="ProductId" value="@Model.ProductId" class="form-control" />




			</div>


			<div class="form-group">
				<label for="exampleInputText1">Durum </label>

				<select class="form-control" name="Status">
					<option>Lütfen Seçim Yapınız</option>
					<option>Onaylandı</option>
					<option>Reddedildi</option>
				</select>
			</div>


			<div class="form-group">
				<input type="submit" value="Ekle" class="btn btn-primary" />
				<a class="btn btn-info" asp-action="Index">Listeye geri dön</a>
			</div>

		</form>


	</div>
	<div class="col-md-3"></div>

</div>
